@import "../../styles/main.scss";

.footer {
  padding: 34px 0;

  @include tablet {
    padding: 28px 0;
  }

  @include mobile {
    padding: 20px 0;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $gray;

    @include mobile {
      text-align: center;
      font-size: 14px;
      line-height: 15px;
    }
  }
}
